.horizontal-header-nav {
	font-size: 0.891rem;

	&__menu {
		display: flex;
		align-items: center;
		margin: 0;
		padding-left: 0;
		list-style: none;
		text-align: center;

		.menu-item {
			margin-left: 1rem;

			&.menu-item--home-link {
				font-weight: 600;
			}

			&:not(.menu-item--home-link) {
				display: none;

				@media screen and (min-width: 1120px) {
					display: block;
				}
			}
		}
	}
}
